
@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Products Index</h2>

<p> This is a list of products </p>

<ul>
<li>@Html.ActionLink("laptop", "Details","Products", new {DetailsName = "Laptop"}, null)</li>
<li>@Html.ActionLink("tablet", "Details", "Products", new { DetailsName = "Tablet" }, null)</li>
<li>@Html.ActionLink("desktop", "Details", "Products", new { DetailsName = "Desktop" }, null)</li>
</ul>>
